.header {
  width: 100%;
  /* position: absolute; */
  top: 3%;
  text-align: center;
  float: left;
  font-size: 100%
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0px;
  /* font-weight: 200; */
}
h3 {
  font-size: 1em;
  margin-top: 5px;
  /* font-weight: 100; */
}
